* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: gray;
}

h2 {
  color: white;
  text-align: center;
  font-size: 40px;
  margin-bottom: 30px;
}
.box-note span {
  color: red;
}
.tutorial-container {
  overflow: auto;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.close-button {
  background-color: red;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.open-button {
  background-color: green;
  color: white;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
}
.box-note {
  max-width: 450px;
  width: 90%;
  padding: 20px 20px;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
}

.toggle-mode-container {
  position: absolute;
  left: 25px;
  top: 70px;
}
.calculator {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: black;
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: auto;
  border-radius: 5px;
  gap: 15px;
  border: 10px solid white;
}
.button.operator {
  color: #6dd144;
}
.button.equal {
  background-color: #6dd144;
  color: white;
  width: 165px;
  height: 80px;
  border-radius: 10%;
}
.button#clear {
  color: #e17064;
}

.calculator.light {
  background-color: white;
  color: #4e4d52;
  border: 10px solid black;
}
.calculator.light .button {
  background-color: #dbdbe3;
  color: #4e4d52;
}
.calculator.light .button.blink {
  background-color: #636565;
}
.calculator.light .button.equal {
  background-color: #6dd144;
  color: white;
}
.calculator.light .button#clear {
  color: #e17064;
}
.calculator.light .button.operator{
  color: #6dd144;
}

#screen {
  display: flex;
  flex-direction: column;
  background-color: #171717;
  width: 95%;
  height: 120px;
  color: white;
  margin: auto;
  border-radius: 5px;
}
.calculator.light #screen {
  background-color: rgb(214, 208, 208);
  color: #636565;
}
.row {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  width: 100%;
  gap: 5px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171717;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  user-select: none;
}

.button.blink {
  background-color: rgb(140, 139, 139);
}

#controls {
  height: fit-content;
  padding: 8px;
}

.togglecontainer {
  display: flex;
  flex-direction: column;
}

#display {
  font-size: 24px;
  padding: 8px;
  height: 100%;
}
@media only screen and (max-width: 768px) {
  .open-button {
    position: static;
    width: fit-content;
  }

  .toggle-mode-container {
    position: static;
  }
}

/* this css was taken from w3school source: https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
